<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
    <style>
      @import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

      *,
      *:before,
      *:after {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }

      body {
        background: #105469;
        font-family: "Open Sans", sans-serif;
      }

      .tab {
        display: flex;
        justify-content: center;
      }

      table {
        background: #012b39;
        border-radius: 0.25em;
        border-collapse: collapse;
        margin: 1em;
      }

      th {
        border-bottom: 1px solid #364043;
        color: #e2b842;
        font-size: 0.85em;
        font-weight: 600;
        padding: 0.5em 1em;
        text-align: left;
      }

      td {
        color: #fff;
        font-weight: 400;
        padding: 0.65em 1em;
      }
      #symbols_links {
        cursor: pointer;
        color: white;
        text-decoration: none;
      }
      .disabled td {
        color: #4f5f64;
      }

      tbody tr {
        transition: background 0.25s ease;
      }

      tbody tr:hover {
        background: #014055;
      }
      #thh {
        position: sticky;
      }
      .tab thead th {
        position: sticky;
        top: 0;
        background: #012b39;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      #cen{
        text-align: center;
      }
    </style>
  </head>

  <body>
    <!-- <canvas id="myChart" width="400px" height="400px"></canvas> -->

    <div class="tab">
      <table>
        <thead id="thh">
          <tr>
            <th>ID</th>
            <th>Symbol</th>
            <th>Date</th>
            <th>Open</th>
            <th>High</th>
            <th>Low</th>
            <th>Close</th>
            <th>Adj Close</th>
            <th>Volume</th>
            <th>SMA-(5)</th>
            <th>SMA-(20)</th>
            <th>SMA-(45)</th>
            <th>SMA-(65)</th>
            <th>GO/DE</th>
          </tr>
        </thead>

        <tbody>
          <% let id = 0,p = golden.length-1; %> <% for(let i = file.length-1; i >= 0; i--){ %>
          <tr>
            <td><%= id+1 %></td>
            <td><%= name %></td>
            <td><%= file[i].Date %></td>
            <td><%= parseFloat(file[i].Open).toFixed(2) %></td>
            <td><%= parseFloat(file[i].High).toFixed(2) %></td>
            <td><%= parseFloat(file[i].Low).toFixed(2) %></td>
            <td><%= parseFloat(file[i].Close).toFixed(2) %></td>
            <td><%= parseFloat(file[i]["Adj Close"]).toFixed(2) %></td>
            <td><%= file[i].Volume %></td>
            <% if (main1[id]!= null) {%>
            <td><%= parseFloat(main1[id]).toFixed(2)%></td>
            <% }else{%>
              <td id="cen">-</td>
            <% } %>
            <% if (main2[id]!= null) {%>
            <td><%= parseFloat(main2[id]).toFixed(2)%></td>
            <% }else{%>
              <td id="cen">-</td>
            <% } %>
            <% if (main3[id]!= null) {%>
            <td><%= parseFloat(main3[id]).toFixed(2)%></td>
            <% }else{%>
              <td id="cen">-</td>
            <% } %>
            <% if (main4[id]!= null) {%>
            <td><%= parseFloat(main4[id]).toFixed(2)%></td>
            <% }else{%>
              <td id="cen">-</td>
            <% } %>
            <% if(p >= 0){ %> 
              <% if(golden[p].No == id){ %> 
                <% if(golden[p].bool == "Golden"){ %> 
                  <td style="background-color: #38b000;"><%= golden[p].bool %> </td>
                <% }else{ %> 
                  <td style="background-color: red;"><%= golden[p].bool %> </td>
                <% } %> 
              <%p = p - 1;} %> 
            <% } %> 
          </tr>
          <%id++ }%>
        </tbody>
      </table>
    </div>
    <!-- <script>
      const ctx = document.getElementById("myChart");
      const myChart = new Chart(ctx, {
        type: "line",
        data: {
          labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
          datasets: [
            {
              label: "# of Votes",
              data: [12, 19, 3, 5, 2, 3],
              backgroundColor: [
                "rgba(255, 99, 132, 0.2)",
                "rgba(54, 162, 235, 0.2)",
                "rgba(255, 206, 86, 0.2)",
                "rgba(75, 192, 192, 0.2)",
                "rgba(153, 102, 255, 0.2)",
                "rgba(255, 159, 64, 0.2)",
              ],
              borderColor: [
                "rgba(255, 99, 132, 1)",
                "rgba(54, 162, 235, 1)",
                "rgba(255, 206, 86, 1)",
                "rgba(75, 192, 192, 1)",
                "rgba(153, 102, 255, 1)",
                "rgba(255, 159, 64, 1)",
              ],
              borderWidth: 1,
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });
    </script> -->
  </body>
</html>
